<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>  
</body>
</html>
<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
    <h8 class="display-6 navbar-text">&copy; Paul Kamau COMP229 Assignment1 Copyright 2022. All Rights reserved.</h8>
  </nav>
    </footer>