<% import partials/header.ejs %> 



  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      </div>
  </main>
<!--Bottom Nav-->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
  <h8 class="display-6 navbar-text">&copy; Paul Kamau COMP229 Assignment1 Copyright 2022. All Rights reserved.</h8>
</nav>
  </footer>


  <% import partials/footer.ejs %> 


