
<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h8 class="display-8 navbar-text">&copy; Paul Kamau COMP229 Assignment1 Copyright 2022. All Rights reserved.</h8>
  </nav>
    </footer>